$light-color-green: #0a9691;
$dark-color-green: #04d4cb;

:root {
  --color-text-white: #ededed;
  --color-text-black: #474747;

  --color-base: #fcfaf6;
  --color-text: var(--color-text-black);

  --color-green: #{$light-color-green};
  --color-green-hover: #{darken($light-color-green, 10%)};
  --color-green-hover-bg: #{rgba($light-color-green, 10%)};
  --color-green-disabled: #{grayscale($light-color-green)};

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }

    --color-base: #383838;
    --color-text: var(--color-text-white);

    --color-green: $dark-color-green;
    --color-green-hover: darken($dark-color-green, 10%);
    --color-green-hover-bg: rgba($dark-color-green, 10%);
  }
}

$color-base: var(--color-base);
$color-text-white: var(--color-text-white);
$color-text-black: var(--color-text-black);

$color-text: var(--color-text);
$color-background: $color-base;

$color-primary: var(--color-green);
$color-primary-hover: var(--color-green-hover);
$color-primary-hover-bg: var(--color-green-hover-bg);
$color-primary-disabled: var(--color-green-disabled);

$font-inter: var(--font-inter);
$font-noto-sans-jp: var(--font-noto-sans-jp);

$font-size-base: 16px;
$font-size-largest: 3rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$border-width: 2px;
$border-radius: 16px;

$opacity-disabled: 0.4;

:root {
  color: $color-text;
  background: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  * {
    font-family: $font-inter, $font-noto-sans-jp, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
